.responses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.copy_link {
  background-color: #d3d3d3;
  box-shadow: 0 5px 0 #545454;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.copy_link:hover {
  background-color: #a1a1a1;
  cursor: pointer;
}

.copy_link:active {
  box-shadow: none;
  top: 5px;
}

.square {
  width: 104px;
  height: 104px;
  margin: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid #a1a1a1;
}

.square_not_selected {
  background-color: white;
}

.square_selected {
  background-color: #545454;
  color: white;
}

.square:hover {
  background-color: #d3d3d3;
}
